
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="hero-wrap hero-wrap-2" style="background-image: url('/Assets/client/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Học phí các khóa học của chúng tôi</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ <i class="ion-ios-arrow-forward"></i></a></span> <span>Học Phí<i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Học</span> Phí</h2>
                <p>Mức học phí phù hợp với mọi học viên, không những vậy lớp Thầy Chí sẽ hỗ trợ chi phí cho những học viên có hoàn cảnh khó khăn. </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="pricing-entry bg-light pb-4 text-center">
                    <div>
                        <h3 class="mb-3">Toán - Tiếng Việt</h3>
                        <p><span class="price">400.000VND</span> <span class="per">/ 1month</span></p>
                    </div>
                    <div class="img" style="background-image: url(/Assets/client/images/toan-tiengviet.jpg);"></div>
                    <div class="px-4">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                    <p class="button text-center"><a href="#" class="btn btn-primary px-4 py-3">Tham gia khóa học</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="pricing-entry bg-light pb-4 text-center">
                    <div>
                        <h3 class="mb-3">Tiếng Anh</h3>
                        <p><span class="price">450.000VND</span> <span class="per">/ 1month</span></p>
                    </div>
                    <div class="img" style="background-image: url(/Assets/client/images/tienganh.jpg);"></div>
                    <div class="px-4">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                    <p class="button text-center"><a href="#" class="btn btn-secondary px-4 py-3">Tham gia khóa học</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="pricing-entry bg-light active pb-4 text-center">
                    <div>
                        <h3 class="mb-3">Mỹ Thuật</h3>
                        <p><span class="price">350.000VND</span> <span class="per">/ 1month</span></p>
                    </div>
                    <div class="img" style="background-image: url(/Assets/client/images/ve2.jpg);"></div>
                    <div class="px-4">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                    <p class="button text-center"><a href="#" class="btn btn-tertiary px-4 py-3">Tham gia khóa học</a></p>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 ftco-animate">
                <div class="pricing-entry bg-light pb-4 text-center">
                    <div>
                        <h3 class="mb-3">Bóng Đá</h3>
                        <p><span class="price">250.000VND</span> <span class="per">/ 1month</span></p>
                    </div>
                    <div class="img" style="background-image: url(/Assets/client/images/bongda.jpg);"></div>
                    <div class="px-4">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                    </div>
                    <p class="button text-center"><a href="#" class="btn btn-quarternary px-4 py-3">Tham gia khóa học</a></p>
                </div>
            </div>
        </div>
    </div>
    <br />
</section>
<section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url(/Assets/client/images/bg_5.jpg);" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row justify-content-end">
            <div class="col-md-6 py-5 px-md-5 bg-primary">
                <div class="heading-section heading-section-white ftco-animate mb-5">
                    <h2 class="mb-4">Yêu cầu báo giá</h2>
                    <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                </div>
                <form action="#" class="appointment-form ftco-animate">
                    <div class="d-md-flex">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Tên riêng">
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="text" class="form-control" placeholder="Họ">
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group">
                            <div class="form-field">
                                <div class="select-wrap">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                        <option value="">Chọn Khóa Học Của Bạn</option>
                                        <option value="">Toán - Tiếng Việt</option>
                                        <option value="">Tiếng Anh</option>
                                        <option value="">Mỹ Thuật</option>
                                        <option value="">Bóng Đá</option>

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="text" class="form-control" placeholder="Số điện thoại">
                        </div>
                    </div>
                    <div class="d-md-flex">
                        <div class="form-group">
                            <textarea name="" id="" cols="30" rows="2" class="form-control" placeholder="Tin nhắn"></textarea>
                        </div>
                        <div class="form-group ml-md-4">
                            <input type="submit" value="Yêu cầu" class="btn btn-secondary py-3 px-4">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
