
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="hero-wrap hero-wrap-2" style="background-image: url('/Assets/client/images/bg_2.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-9 ftco-animate text-center">
                <h1 class="mb-2 bread">Các khóa học của chúng tôi</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ <i class="ion-ios-arrow-forward"></i></a></span> <span>khóa học <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>
<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center mb-5 pb-2">
            <div class="col-md-8 text-center heading-section ftco-animate">
                <h2 class="mb-4"><span>Các</span> KHÓA HỌC <span>của chúng tôi</span></h2>
                <p>
                    Với những khóa học đa dạng bổ ích, sẽ giúp cho các học viên đến với lớp Thầy Chí dễ dàng bổ sung những kiến thức thiếu hụt.
                    Đồng thời tạo nên môi trường phát triển kỹ năng về hồi họa và kỹ năng đá bóng của bản thân.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 course d-lg-flex ftco-animate">
                <div class="img" style="background-image: url(/Assets/client/images/toan-tiengviet.jpg);"></div>
                <div class="text bg-light p-4">
                    <h3><a href="#">Bài học căn bản</a></h3>
                    <p><b>Toán - Tiếng Việt</b></p><hr />
                    <p class="subheading"><span>Giờ học:</span> 9:00am - 10am</p>
                    <p>Giúp các học viên hoàn thành bài tập được giao ở trường lớp, bổ sung thêm nhiều kiến thức thiếu hụt, tăng cường những bài tập nâng cao.</p>
                </div>
            </div>
            <div class="col-md-6 course d-lg-flex ftco-animate">
                <div class="img" style="background-image: url(/Assets/client/images/tienganh.jpg);"></div>
                <div class="text bg-light p-4">
                    <h3><a href="#">Bài học ngôn ngữ</a></h3>
                    <p><b>Tiếng Anh - Giao Tiếp</b></p><hr />
                    <p class="subheading"><span>Giờ học:</span> 9:00am - 10am</p>
                    <p>Giúp các học viên yêu thích và hứng thú hơn với ngoại ngữ, ôn tập bám sát những kiến thức đã học ở trường lớp.</p>
                </div>
            </div>
            <div class="col-md-6 course d-lg-flex ftco-animate">
                <div class="img" style="background-image: url(/Assets/client/images/ve.jpg);"></div>
                <div class="text bg-light p-4">
                    <h3><a href="#">Bài học năng khiếu</a></h3>
                    <p><b>Mỹ Thuật - Luyện Viết</b></p><hr />
                    <p class="subheading"><span>Giờ học:</span> 9:00am - 10am</p>
                    <p>
                        Các lớp vẽ là nơi phát triển năng khiếu hội họa của mỗi người, cũng là nơi các bạn nhỏ thử giản sau giờ học chính khóa. Giúp học viên có
                        một nét chữ đẹp, rèn luyện tính kiên nhẫn, cẩn thận.
                    </p>
                </div>
            </div>
            <div class="col-md-6 course d-lg-flex ftco-animate">
                <div class="img" style="background-image: url(/Assets/client/images/bongda.jpg);"></div>
                <div class="text bg-light p-4">
                    <h3><a href="#">Bài học thể thao</a></h3>
                    <p><b>Bóng Đá - Võ Thuật</b></p><hr />
                    <p class="subheading"><span>Giờ học:</span> 9:00am - 10am</p>
                    <p>Giúp các học viên rèn luyện, phát triển kỹ năng bóng đá của bản thân, đồng thời thường xuyên tổ chức, tham gia các giải bóng đá cộng đồng.</p>
                </div>
            </div>
        </div>
    </div>
</section>

